<!--<lib-header></lib-header>-->
<nb-layout>
    <nb-layout-header fixed><ngx-header></ngx-header></nb-layout-header>
    <nb-layout-column>
      <div class="imagenBackground">
        <div class="container">
          <div class="card">
            <h2>Wächter</h2>
            <i class="fas fa-arrow-right"></i>
            <p>Ven y observa tus asistencias</p>
            <div class="pic"></div>
            <ul>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
            <div class="social">
              <i class="fab fa-facebook-f"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-instagram"></i>
              <i class="fab fa-github"></i>
            </div>
            <button (click)="goW_chter()"></button>
          </div>
          <div class="card card2">
            <h2>Teachers Ranking</h2>
            <i class="fas fa-arrow-right"></i>
            <p>Entra y evalua a tus docentes!</p>
            <div class="pic"></div>
            <ul>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
            <div class="social">
              <i class="fab fa-facebook-f"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-instagram"></i>
              <i class="fab fa-github"></i>
            </div>
            <button (click)="goTeachersRanking()"></button>
          </div>
        </div>
      </div>
    </nb-layout-column>
    <ngx-footer></ngx-footer>
  </nb-layout>
  
  <!--<lib-footer></lib-footer>-->
  